:root {
	
	/* TEMPORARY */
	--sectionContainer: #009688;
	--gridContainer: #009688;
	/* TEMPORARY */
	
	/* MAIN ROOT COLORS */
	--headerColor: #2196f3;
	--mainColor: #2196f3;
	--searchBarTextColor: #2196f3;
	--shadow: 0 1px 7px rgba(104, 104, 104, 40);
	--activeShadow: 0 3px 100px rgba(33, 150, 243, 0.49);
	/* MAIN ROOT COLORS */
	
	--white: #ffffff;
	--black: #000000;
	
	/* FONTS */
	
	--nunito: 'Nunito', sans-serif;
	--firasans: 'Fira Sans', sans-serif;
	--dosis: 'Dosis', sans-serif;
	--cabin: 'Cabin', sans-serif;
	--barcode: 'Libre Barcode 128 Text', cursive;
	--pixel: 'Press Start 2P', cursive;
}


.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-54 { font-size: 54px; }
.material-icons.md-60 { font-size: 60px; }
.material-icons.md-62 { font-size: 62px; }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons.md-orange { color: orange;}





.iconClose {
	float: right;
	margin: 7px;
}

#titleClose {
	float: right;
}

.iconBack {
	float: left;
	margin: 7px;
}

#titleBack {
	float: left;
}





#landingTopContainer {
	grid-area: top-container;
	
	height: 65px;
}

#landingTopContainer img {
	height: 100%;
}






body, html {
	height: 100%;
	
	background-color: aliceblue;
	
	color: var(--mainColor);
	text-align: center;
	
	margin: 0;
	padding: 0;
}




.landingBannerContainer {
	background-color: var(--mainColor);
	
	height: 100%;
	
	background-position: initial;
	background-repeat: no-repeat;
	background-size: cover;
}






.landingAllContentContainer {
	
	position: relative;
  	top: 50%;
  	transform: translateY(-70%);
	
	height: 300px;
	margin: 25px;
	
	background-color: var(--white);
	border-radius: 5px;
}




.landing-grid {
	display: grid;
	grid-gap: 1px;
	
	grid-template-areas: 
		'top-container top-container'
}